# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Python specific ignores (common ignores)
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.Python
build/
dist/
venv/
env/
.venv/
.tox/

# Project specific ignore
*.csv
*log.txt
*aperture.txt
.env
.ipynb_checkpoints/

# Streamlit specific ignores
.streamlit/secrets.toml
streamlit-storage/
work-tmp/

# IDE/OS specific ignores
.idea/
.vscode/
user_config.json
